path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.odd {
  fill: #e7e7e7;
}

.even {
  fill: #d4d4d4;
}

.rect { 
    fill: #eee;
}

.axis path, .axis line {
  shape-rendering: crispEdges;
  fill: none;
  stroke: #000;
}
