path.line {
  fill: none;
  stroke-width: 1.5px;
}

path.line.speed { 
    stroke: #006;
}

path.line.altitude { 
    stroke: #600;
}

rect.odd {
  fill: #e7e7e7;
}

rect.even {
  fill: #d4d4d4;
}

#lapTable { 
  border: none;
}

tr.odd { 
  background-color: lightyellow;
}

tr.even {
  background-color: lightblue;
}

.rect { 
    fill: #eee;
}

.axis path, .axis line {
  shape-rendering: crispEdges;
  fill: none;
  stroke: #000;
}
